body {
	background-image: url(trellis_encoder_ddorong78.jpg); background-position:top; background-repeat:repeat-x;
	font-family:Arial, "Times New Roman", sans-serif;
	}
	#lesson{
		background-color:yellow;
	}
	.sponser{
		color:green;
	}
	

